@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Raleway:wght@400;500;600;800&family=Roboto:wght@500&display=swap');

$accent: #f57500;
$fontsize: 16px;
$textcolor: #333;
$dark: #303030;
$deep: #252525;
$lineheight: 1.7;
$userfont: 'Raleway',
sans-serif;
$size: 70px;
$border-opacity: 0.1;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: $userfont;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    font-size: $fontsize;
    line-height: $lineheight;
    color: $textcolor;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    background-color: $deep;
    color: #fff;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    align-items: center;
}

.button {
    display: inline-block;
    position: relative;
    max-width: 200px;
    margin-left: auto;
    background-color: transparent;
    color: $accent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px 30px;
    border: 1px solid $accent;
    text-transform: uppercase;
    box-shadow: 1px 3px 10px 2px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 1s ease-in-out;

    span {
        color: $accent;
        position: relative;
        z-index: 2;
        transition: all 1s ease-in-out;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        transition: all 0.5s ease-in-out;
        background-color: $accent;
    }

    &:hover::after {
        width: 100%;
        color: #fff;
    }

    &:hover {
        span {
            color: #fff;
        }
    }
}


/* home-header start */
.home-header {
    background-color: $deep;
    height: 100%;
    padding-top: $size;
}

.logo {
    color: #fff;
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5em;
}

.menu-button__container {
    flex: 0 0 200px;
    text-align: right;
    position: relative;
    height: $size;
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: $size;
    height: $size;
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;

    svg {
        font-size: 25px;
        color: #fff;
    }

    &:hover {
        background-color: $accent;
    }
}

.top-line {
    position: absolute;
    width: 100%;
    height: $size;
    top: 0;
    border-bottom: 1px solid rgba(#fff, $border-opacity);
    z-index: 10;
    background-color: $deep;
    display: flex;
    align-items: center;
}

.top-line__decoration {
    flex: 1 0 0;
    text-align: center;

    &::before {
        content: '';
        height: 1px;
        width: 50px;
        background-color: #fff;
        display: inline-block;
        opacity: $border-opacity * 1.5;
        position: relative;
        top: -5px;
    }
}

.logo-img__wrapper {
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50px;
        height: 50px;
    }
}

.top-line__contacts {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4em;
    color: rgba(#fff, 0.5);
    display: flex;
    align-items: center;
}

.top-line__seperator {
    width: 1px;
    height: 30px;
    background-color: rgba(#fff, $border-opacity);
    margin: 0 20px;
}

.top-line__numbers {
    color: $accent;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.top-line__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(#fff, 0.75);
}

/* home-header end */


/* home-content start */
.home-content {
    width: 100%;
    height: 100%;
}

.home-aside {
    background-color: $dark;
    width: $size;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: $size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.home-aside__decoration {
    flex: 1 0 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}

.home-aside__social {
    flex: 1 0 0;

}

.home-aside__share-icon {
    background-color: $accent;
    width: $size;
    font-size: 22px;
    flex: 0 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-aside__social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#fff, $border-opacity);
    border-bottom: 1px solid transparent;
    margin-top: -1px;
    transition: all 0.4s ease-in-out;

    &:last-child {
        border: 1px solid rgba(#fff, $border-opacity);
    }

    svg {
        fill: #fff;
        font-size: 25px;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        background-color: $accent;
        border-color: $accent;

        svg {
            opacity: 1;
        }
    }
}

/* home-content end */


/* home-slider start */
.slider-container {
    padding-left: $size;
    padding-top: $size;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-img {
    height: 100%;
    width: 75%;
    overflow: hidden;
    position: relative;
    margin-left: unset;
    margin-right: unset;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.45);
        z-index: 2;
    }
}

.slider-img__slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-text {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: calc(100% - #{$size});
}

.slider-text__slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider-text__content {
    text-align: right;
    padding-right: 22%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.slider-text__heading {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 1rem;

    span {
        color: $accent;
    }
}

.slider-text__desc {
    width: 420px;
    text-align: right;
    display: block;
    margin-left: auto;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 1rem;
}


.slider-bottom {
    position: absolute;
    bottom: 0;
    height: $size;
    display: flex;
    align-items: center;
    left: $size;
    z-index: 5;
    width: calc(75% - #{$size});
}

.slider-share {
    flex: 0 1 auto;
}

.slider-share__items {
    display: flex;
    align-items: center;

    .home-aside__social-item {
        .home-aside__social-link {
            width: $size;
            height: $size;
            border: none;
            background-color: $dark;

            &:hover {
                background-color: $accent;
                border-color: $accent;

                svg {
                    opacity: 1;
                }
            }
        }

        &:not(:last-child) {
            .home-aside__social-link {
                border-right: 1px solid rgba($color: #fff, $alpha: $border-opacity);
            }
        }

        &:is(:last-child) {
            .home-aside__social-link {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 3px;
                    height: 100%;
                    background-color: $accent;
                }
            }
        }
    }
}


.slider-pagination {
    flex: 0 0 140px;

    .swiper-pagination {
        position: relative;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: $size;

        .swiper-pagination-bullet {
            height: 12px;
            width: 12px;
            background-color: #fff;
            opacity: 1;

            &.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
                background-color: $accent;
                height: 8px;
                width: 8px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border: 1px solid $accent;
                    border-radius: 50%;
                    left: -0.225rem;
                    top: -4px;
                }
            }
        }


    }
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 0;
    transform: translateX(0);
}

.slider-scrollbar {
    flex: 1 0 0;

    .swiper-scrollbar.swiper-scrollbar-horizontal {
        position: relative;
        left: 0;
        bottom: 0;
        max-height: 100%;
        opacity: 1 !important;
        background-color: rgba(#fff, 0.2);

        .swiper-scrollbar-drag {
            background-color: $accent;
            opacity: 1 !important;
            cursor: grab;
        }
    }
}

.slider-navigation {
    flex: 0 0 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    .swiper-button-prev,
    .swiper-button-next {
        width: 32px;
        height: 32px;
        color: $accent;
        margin-top: 0;
        border: 2px solid $accent;
        border-radius: 50%;

        &::after {
            font-size: 10px;
        }
    }

    .swiper-button-disabled {
        color: rgba(#fff, 0.8);
        border: 2px solid rgba(#fff, 0.8);
    }
}

/* home-slider end */