@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Raleway:wght@400;500;600;800&family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #252525;
  color: #fff;
}

/* home-header start */
.home-header {
  background-color: #252525;
  height: 100%;
  padding-top: 70px;
}

.logo {
  color: #fff;
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5em;
}

.menu-button__container {
  flex: 0 0 200px;
  text-align: right;
  position: relative;
  height: 70px;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-color: #3c3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.menu-button svg {
  font-size: 25px;
  color: #fff;
}
.menu-button:hover {
  background-color: #f57500;
}

.top-line {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  background-color: #252525;
  display: flex;
  align-items: center;
}

.top-line__decoration {
  flex: 1 0 0;
  text-align: center;
}
.top-line__decoration::before {
  content: "";
  height: 1px;
  width: 50px;
  background-color: #fff;
  display: inline-block;
  opacity: 0.15;
  position: relative;
  top: -5px;
}

.logo-img__wrapper {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-img__wrapper img {
  width: 50px;
  height: 50px;
}

.top-line__contacts {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
}

.top-line__seperator {
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 20px;
}

.top-line__numbers {
  color: #f57500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.top-line__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
}

/* home-header end */
/* home-content start */
.home-content {
  height: 100%;
}

.home-aside {
  background-color: #303030;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.home-aside__decoration {
  flex: 1 0 0;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
}

.home-aside__social {
  flex: 1 0 0;
}

.home-aside__share-icon {
  background-color: #f57500;
  width: 70px;
  font-size: 22px;
  flex: 0 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home-aside__social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid transparent;
  margin-top: -1px;
  transition: all 0.4s ease-in-out;
}
.home-aside__social-link:last-child {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.home-aside__social-link svg {
  fill: #fff;
  font-size: 25px;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
}
.home-aside__social-link:hover {
  background-color: #f57500;
  border-color: #f57500;
}
.home-aside__social-link:hover svg {
  opacity: 1;
}

/* home-content end *//*# sourceMappingURL=style.css.map */